{% extends 'base.html' %}  <!-- Наследуем страницу от base.html -->

{% block body %}
<!-- Открыли блок который будем переопределять -->

<form action="" method="post">
<!-- Создали форму которая отправит данные POST-запросом на урл, на котором мы находимся -->

    {% csrf_token %}
    <!--  Тег, автоматически генерирует скрытое поле с csrf токеном  -->

    {{ form.as_p }}
    <!--  Тег который генерирует форму  -->

    <input type="submit" value="Добавить">
    <!--  Тег который добавляет на страницу кнопку отправки формы  -->
</form>
<!-- Закрытие тега формы -->

{% endblock %}
<!-- Закрыли блок -->