{% extends 'base.html' %}


{% block body %}
    <!-- Page Wrapper -->
    <div>
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include 'topbar.html' %}
                <div class="col-xl-12">
                    <div class="col-xl-12 col-lg-7">
                    {% for post in posts %}
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">{{ post.title }}</h6>
                            </div>
                                    <!-- Card Body -->
                            <div class="card-body">
                                <p>{{ post.text }}</p>
                                <div class="border"></div>
                                <p>Price: <b>{{ post.price }}</b></p>
                                <p>Created: <b>{{ post.created_dt }}</b></p>
                                <p>Owner: <b>{{ post.owner }}</b></p>
                                <p>Email: <b>{{ post.owner.email }}</b></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
